.load_body{
  background: black;
  height: 80rem;
  color: azure;
  font-size: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Home{
border: 0.2rem solid black;
background: url('https://media.tenor.com/RGnnlQBCxSwAAAAC/windy-wind.gif');
background-repeat: no-repeat;
background-size: cover;
height: 50rem;
padding: 2rem 2rem;
margin: 5rem 5rem;
opacity: 1;
}
.overlay{
  height: 100%;
  border: 2px solid black;
  width: 100%;
  font-family: cin;
}